<div id="<%= dom_id tournament %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tournament.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= tournament.account_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= tournament.organization_id %>
  </p>

</div>
